<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "cpf.dtd">
<properties>

<simple name="Import" type="string"><value>$(find bfl_dataAssociationBranch)/bfl-boost/lib/liborocos-bfl.so</value></simple>
<simple name="Import" type="string"><value>$(find bfl_dataAssociationBranch)/bfl-boost/lib/rtt/gnulinux/plugins/liborocos-bfl_toolkit</value></simple>

<simple name="Import" type="string"><value>$(find twoLevelMTTD)/lib/libVBClusters</value></simple>
<simple name="Import" type="string"><value>$(find twoLevelMTTD)/lib/libtwoLevelMTTD</value></simple>
<simple name="Import" type="string"><value>$(find twoLevelMTTD)/lib/libNumberObjectsEstimator</value></simple>

<simple name="Import" type="string"><value>$(find MTTD_interface)/lib/libMTTD_input.so</value></simple>
<simple name="Import" type="string"><value>$(find MTTD_interface)/lib/libMTTD_output.so</value></simple>
<simple name="Import" type="string"><value>$(find orocos_ros_integration)/lib/liborocos_ros_integration</value></simple>



<struct name="twoLevelMTTD" type="OCL::EstimationGaussian">
  <simple name="Server" type="boolean"><value>1</value></simple>
  <simple name="UseNamingService" type="boolean"><value>0</value></simple>
  <struct name="Activity" type="PeriodicActivity">
    <simple name="Period" type="double"><value>0.01</value></simple> 
    <simple name="Priority" type="short"><value>0</value></simple>
    <simple name="Scheduler" type="string"><value>ORO_SCHED_OTHER</value></simple>
  </struct>
  <simple name="AutoConf" type="boolean"><value>1</value></simple>
  <simple name="AutoStart" type="boolean"><value>0</value></simple>
  <simple name="AutoConnect" type="boolean"><value>1</value></simple>
  <simple name="UpdateProperties" type="string"><value>$(find MTTD_interface)/cpf/EstimationGaussian.cpf</value></simple>
  <struct name="Peers" type="PropertyBag">
    <simple type="string"><value>VBClusters</value></simple>
    <simple type="string"><value>NumberObjectsEstimator</value></simple>
    <simple type="string"><value>MTTDI1</value></simple>
  </struct>
</struct>

<struct name="VBClusters" type="OCL::VBClusters">
  <struct name="Activity" type="NonPeriodicActivity">
    <simple name="Priority" type="short"><value>0</value></simple>
    <simple name="Scheduler" type="string"><value>ORO_SCHED_OTHER</value></simple>
  </struct>
  <simple name="AutoConf" type="boolean"><value>1</value></simple>
  <simple name="AutoStart" type="boolean"><value>1</value></simple>
  <simple name="AutoConnect" type="boolean"><value>1</value></simple>
  <simple name="UpdateProperties" type="string"><value>$(find MTTD_interface)/cpf/VBClusters.cpf</value></simple>
  <struct name="Peers" type="PropertyBag">
    <simple type="string"><value>MTTDI1</value></simple>
  </struct>
</struct>

<struct name="NumberObjectsEstimator" type="OCL::NumberObjectsEstimator">
  <struct name="Activity" type="NonPeriodicActivity">
    <simple name="Priority" type="short"><value>0</value></simple>
    <simple name="Scheduler" type="string"><value>ORO_SCHED_OTHER</value></simple>
  </struct>
  <simple name="AutoConf" type="boolean"><value>1</value></simple>
  <simple name="AutoStart" type="boolean"><value>1</value></simple>
  <simple name="AutoConnect" type="boolean"><value>1</value></simple>
  <simple name="UpdateProperties" type="string"><value>$(find MTTD_interface)/cpf/NumberObjectsEstimator.cpf</value></simple>
  <struct name="Peers" type="PropertyBag">
    <simple type="string"><value>VBClusters</value></simple>
  </struct>
</struct>


  <struct name="MTTDI1" type="MTTDInput">
    <struct name="Activity" type="PeriodicActivity">
      <simple name="Period" type="double"><value>0.01</value></simple>
      <simple name="Priority" type="short"><value>0</value></simple>
      <simple name="Scheduler" type="string"><value>ORO_SCHED_RT</value></simple>
    </struct>
    <simple name="AutoConf" type="boolean"><value>1</value></simple>
    <simple name="AutoStart" type="boolean"><value>1</value></simple>
     <simple name="AutoConnect" type="boolean"><value>1</value></simple>
<!--    
    <struct name="CreateRosNode" type="PropertyBag">    
    </struct>
-->
    <struct name="RosNodeCreateTopics" type="PropertyBag">    
      <simple type="string"><value>object_point_cloud</value></simple>
      <simple type="string"><value>WritePort2</value></simple>
    </struct>
    <struct name="Peers" type="PropertyBag">
      <simple type="string"><value>VBClusters</value></simple>
    </struct>  
  </struct>

  <struct name="MTTDO1" type="MTTDOutput">
    <struct name="Activity" type="PeriodicActivity">
      <simple name="Period" type="double"><value>0.01</value></simple>
      <simple name="Priority" type="short"><value>0</value></simple>
      <simple name="Scheduler" type="string"><value>ORO_SCHED_RT</value></simple>
      </struct>
    <simple name="AutoConf" type="boolean"><value>1</value></simple>
    <simple name="AutoStart" type="boolean"><value>1</value></simple>
     <simple name="AutoConnect" type="boolean"><value>1</value></simple>
<!--    
<struct name="CreateRosNode" type="PropertyBag">    
-->
    <struct name="RosNodeCreateTopics" type="PropertyBag">    
      <simple type="string"><value>peopledata</value></simple>
    </struct>
    <struct name="Peers" type="PropertyBag">
      <simple type="string"><value>twoLevelMTTD</value></simple>
    </struct>  
  </struct>


</properties>
